<article data-user-id="<%= comment.user.id %>">
<div class="comment" data-id="<%= comment.id %>">
	
	<!--<span><%= image_tag comment.user.avatar_url, alt: comment.user.name,size: "32" %></span>-->
	<p class="comment-title"><%=  comment.title %></p>
	<p class="comment-comment"><%=  comment.comment %></p>
 	<div class="btn-group">

  		<%= link_to 'Edit', edit_post_comment_path(@post,comment), class: 'btn btn-info', method: :get, remote: true  %>
  		<%= link_to 'Delete', post_comment_path(@post,comment), data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>

	</div>
	<p>Supplied by: <%= link_to comment.user.name, comment.user %>, at: <%= comment.created_at.strftime('%H:%M:%S %-d %B %Y') %></p>
  	<div class="comment_form-edit" data-id="<%= comment.id %>">
  		<div class="editform" style="display:none">
  		</div>
	</div>
</div>
</article>