<div class="chatboxhead">
  <div class="row">

    <div class="col-md-6">
      <div class="chatboxtitle">
        <i class="fa fa-comments"></i>

        <h1><%= @receiver.name %> </h1>
      </div>
      <br clear="all"/>
    <div class="chatboxcontent">
        <%= render 'fires/fires', chat: @chat %>
    </div>
    <div class="chatboxinput">
      <%= form_for([@chat, @fire], :remote => true, :html => {id: "chat_form_#{@chat.id}"}) do |f| %>
          <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @chat.id %>
          <%= f.button "Send", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
      <% end %>
    </div>
  </div>

    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Offer!</button>
        </span>
         <input type="text" class="form-control" placeholder="Name the price...">
      </div>
      <h3 data-behavior="current_price"><%=@order.unit_price.to_f/100%><i class='fa fa-eur'></i> </h3>
      <% if current_user %>

    <%= form_tag transactioncreate_path(id: @order.id) do  %>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_f7BgxvHQIobSLsuOl4v71eAc"
        data-amount="<%= @order.total_price %>"
        data-name="<%= @order.seller.name %>"
        data-description="<%= @order.comment.comment %>"
        data-email="<%= current_user.email %>"
        data-locale="auto">
      </script>
    <% end %>
    <%end%>
    </div>
  </div>
</div>
