<div class="chatboxhead">
  <div class="row">

    <div class="col-md-6">
      <div class="chatboxtitle">
        <i class="fa fa-comments"></i>

        <h1><%= @receiver.name %> </h1>
      </div>
      <br clear="all"/>
    <div class="chatboxcontent">
        <%= react_component 'Fires', { chat: render(partial: 'orders/chat.json'), path: users_path,fires: @chat.fires } %>
    </div>
    <div class="chatboxinput">
      <%= form_for([@chat, @fire], :remote => true, :html => {id: "chat_form_#{@chat.id}"}) do |f| %>
          <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @chat.id %>
          <%= f.button "Send", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
      <% end %>
    </div>
  </div>

    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Offer!</button>
        </span>
         <input type="text" class="form-control" placeholder="Name the price...">
      </div>
      <h3 data-behavior="current_price"><%=@order.unit_price.to_f/100%><i class='fa fa-eur'></i> </h3>


    <%= form_tag({:controller => "transactions", :action => "create"},method: :post, :html => {:id => 'checkout'}) do  %>
      <div id="payment-form"></div>
      <input type="submit" value="Submit">
    <%end%>

    <script src="https://js.braintreegateway.com/js/braintree-2.23.0.min.js"></script>
    <script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var clientToken = "<%= Braintree::ClientToken.generate %>";
    braintree.setup(clientToken, "dropin", {
      container: "payment-form"
    });
    </script>

    </div>
  </div>
</div>
