<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @post, remote: true, html: { style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div><%= hidden_field_tag :user_id, current_user.id%></div>

        <div><%= hidden_field_tag :lat %></div>
        <div><%= hidden_field_tag :lon %></div>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: 'form-control', required: true, cols: 3  %>
        </div>
        <div class="field">
          <%= f.label :price %><br>
          <%= f.number_field :price %>
        </div>

        <div class="file_field_picture" >
            <span class="file-input btn btn-primary btn-file">
               Browse&hellip;<%= f.file_field :pictures, multiple: true%>
            </span>
        </div>

        <div class="form-group">
           <%= f.label :all_labels_list %>
           <%= f.select(:all_labels_list,@post.all_labels_list,{},{class: "form-control" ,id: "select2-label-list",multiple: "multiple"}) %>
         </div>

      <div class="modal-footer">
        <%= f.submit "Update Demand", class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
