<%= form_for @post, remote: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= hidden_field_tag :user_id, current_user.id%></div>
  <div><%= hidden_field_tag :lat %></div>
  <div><%= hidden_field_tag :lon %></div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', required: true, cols: 3  %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <a href='#' class="btn btn-success" id="multiple_upload_butt">Add Picture</a>

  <div class="file_field_picture_0" style = "display:none">
    <%= f.file_field :pictures, multiple: true %>
  </div>
  <div class="file_field_picture_1" style = "display:none">
    <%= f.file_field :pictures, multiple: true %>
  </div>
  <div class="file_field_picture_2" style = "display:none">
    <%= f.file_field :pictures, multiple: true %>
  </div>
  <div class="file_field_picture_3" style = "display:none">
    <%= f.file_field :pictures, multiple: true %>
  </div>
  <div class="form-group select2-labels">
     <%= f.label :all_labels_list %>
     <%= f.select(:all_labels_list,Post.first.all_labels_list,{},{class: "select2-label-list" ,id: "select2-label-list",multiple: "multiple", :style => "width:700px;"}) %>
   </div>
  <div class="actions">
    <%= f.submit 'Demand', class: 'btn btn-primary'%>
  </div>
<% end %>
