<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <div class="post-search">
  <h1>Search Demands</h1>
  <%= form_tag posts_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :query, params[:query], class: 'form-control typeahead' %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

  <h1>Demands</h1>

  <br>
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>
  <br>
  <%= link_to 'New Demand', new_post_path, class: 'btn btn-primary btn-large',id: "newDemandButton", remote: true %>

  <div class= "new-post-form" style = "display:none" id="id-new-post-form">
  </div>

  <div class = "panel panel-default" id ="posts">
    <div class = "panel-body">
      <div class= "div-newDemand" style = "display:none" id="id-div-newDemand" >
        <span class="newDemand">0</span>
          <p>new demands</p>
      </div>

      <ul class= "media-list">
        <%= render 'posts/posts', posts: @posts %>

      </ul>
    </div>
  </div>

  <%= paginate @posts %>

<% else %>
  <% content_for :top_content do %>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Register to get started.</p>
        <p>
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
