<!-- show user the home page if logged in -->
<!-- from sitepoint devise tutorial -->

<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Likes</th>
      <th>Picture url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.price %></td>
        <td><%= post.lat %></td>
        <td><%= post.lon %></td>
        <td><%= post.likes %></td>
        <td><%= post.picture_url %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<!-- else, shows the user the welcome page with a button to register or log in -->
<!-- from sitepoint devise tutorial -->
<% else %>
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>

<% end %>
