<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Price:</strong>
  <%=@post.price%><i class='fa fa-eur'></i>
</p>

<div class="post-pictures">
  <% if @post.pictures? %>
    <% @post.pictures.each do |p| %>
      <%= image_tag(p.url(:thumb)) %>
    <%end%>

  <% end %>
</div>
<div id="post_<%=@post.id%>_likes">
  <%=render partial: "likes", locals: {post: @post,user: current_user} %>
</div>
<div class="btn-group">
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %>
  <%= link_to 'Delete', post_path(@post), data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
  <%= link_to 'Supply', new_post_comment_path(@post), class: 'btn btn-success',remote: true %>
</div>
<div class= "new-comment-form" style = "display:none">
</div>

  <div class= "div-newSupply" style = "display:none" id="id-div-newSupply" data-behavior="id-div-newSupply" >
    <a class="supply_index" href="/comments" data-remote="true">
    <span class="newSupply" data-behavior="new-supply-amount">0</span>
      <p>new supply</p>
     </a>
  </div>
  <%= render 'comments/comments', post: @post %>
</div>
