<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @post.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @post.lon %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @post.picture_url %>
</p>
<div id="post_<%=@post.id%>_likes">
  <%=render partial: "likes", locals: {post: @post,user: current_user} %>
</div>
<div class= "new-comment-form" style = "display:none">
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %>
  <%= link_to 'Delete', post_path(@post), data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
  <%= link_to 'Comment', new_post_comment_path(@post), class: 'btn btn-success',remote: true %>

</div>

<div id= "comments_list">
  <div class="comments-list-render">
  </div>
  <%= render 'comments/comments', post: @post %>
</div>
